@mixin responsive($screenWidth) {
    @media(max-width: $screenWidth) {
        @content;
    }
}
@mixin style-btn($height,$bg,$colorText){
    display: inline-block;
    height: $height;
    line-height: $height;
    background-color: $bg;
    border-radius: 6px;
    padding: 0 5rem;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    color: $colorText;
    transition: all .3s;
    &:hover {
        background-color: $colorText;
        color: $bg;
    }

}
@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}